In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta 
import os

In [2]:
input_dir = '../3-output_data_cluster/data/'
# 201808_with_pickup_return_4.csv
month = '201808'
input_file_name = input_dir+month+'_with_pickup_return_4.csv'
data = pd.read_csv(input_file_name, sep = ",")
pick_columns = ['p0-1', 'p1-2','p2-3','p3-4','p4-5','p5-6','p6-7','p7-8','p8-9','p9-10','p10-11',
                       'p11-12','p12-13','p13-14','p14-15','p15-16','p16-17','p17-18','p18-19','p19-20',
                       'p20-21','p21-22','p22-23','p23-0']
return_columns = ['r0-1', 'r1-2','r2-3','r3-4','r4-5','r5-6','r6-7','r7-8','r8-9',
                  'r9-10','r10-11','r11-12','r12-13','r13-14','r14-15','r15-16','r16-17',
                  'r17-18','r18-19','r19-20','r20-21','r21-22','r22-23','r23-0']
data[:10]

,Unnamed: 0,Station,Cluster Label,EM Label,p0-1,p1-2,p2-3,p3-4,p4-5,p5-6,...,r14-15,r15-16,r16-17,r17-18,r18-19,r19-20,r20-21,r21-22,r22-23,r23-0
0,0,31000,2,1,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,8.0,34.0,36.0,24.0,15.0,11.0,5.0,3.0,5.0
1,1,31001,4,1,3.0,1.0,0.0,1.0,2.0,0.0,...,6.0,1.0,20.0,17.0,15.0,18.0,16.0,8.0,4.0,4.0
2,2,31002,4,2,2.0,0.0,0.0,1.0,0.0,0.0,...,22.0,31.0,54.0,101.0,85.0,44.0,31.0,7.0,3.0,5.0
3,3,31003,4,1,0.0,0.0,0.0,0.0,1.0,0.0,...,15.0,29.0,45.0,56.0,58.0,24.0,11.0,7.0,2.0,0.0
4,4,31004,3,0,1.0,0.0,0.0,0.0,1.0,1.0,...,7.0,28.0,41.0,61.0,47.0,16.0,12.0,11.0,10.0,3.0
5,5,31005,4,1,1.0,0.0,1.0,0.0,16.0,0.0,...,23.0,26.0,56.0,84.0,58.0,42.0,29.0,11.0,7.0,2.0
6,6,31006,2,1,7.0,0.0,0.0,0.0,2.0,1.0,...,18.0,16.0,54.0,36.0,33.0,28.0,23.0,12.0,10.0,9.0
7,7,31007,4,2,2.0,1.0,0.0,0.0,0.0,0.0,...,23.0,26.0,55.0,96.0,74.0,31.0,30.0,5.0,23.0,7.0
8,8,31008,2,1,5.0,0.0,0.0,0.0,0.0,9.0,...,35.0,21.0,51.0,83.0,51.0,34.0,33.0,8.0,7.0,5.0
9,9,31009,0,2,0.0,1.0,0.0,0.0,0.0,0.0,...,3.0,4.0,18.0,13.0,11.0,12.0,7.0,5.0,4.0,3.0

In [3]:
directory = './data/'
if not os.path.exists(directory):
    os.makedirs(directory)

In [4]:
pickup = data[['Cluster Label']+pick_columns].groupby('Cluster Label').mean()
pickup.columns = ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
pickup

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Cluster Label,,,,,,,,,,,,,,,,,,,,,
0,3.117647,1.808824,0.911765,0.573529,1.000000,1.911765,5.676471,13.970588,26.735294,23.632353,...,32.544118,45.882353,82.220588,146.338235,69.794118,29.897059,20.191176,13.808824,9.647059,5.264706
1,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000,0.500000,1.500000,...,0.000000,2.500000,5.500000,5.000000,7.500000,7.500000,1.000000,2.500000,0.000000,0.000000
2,6.471698,4.169811,2.811321,1.459119,1.867925,9.364780,30.301887,69.251572,87.037736,37.150943,...,26.345912,29.188679,33.238994,47.603774,55.314465,46.723270,32.723270,24.553459,18.176101,11.088050
3,1.102564,0.717949,0.384615,0.205128,0.871795,4.230769,15.897436,36.641026,69.487179,22.846154,...,7.051282,7.769231,10.153846,13.205128,15.820513,10.871795,7.512821,4.487179,2.820513,1.974359
4,5.617450,2.832215,1.476510,0.798658,0.966443,4.926174,19.120805,43.879195,74.832215,49.053691,...,42.523490,49.375839,68.718121,110.469799,95.335570,64.805369,43.154362,30.818792,23.892617,12.234899

In [5]:
returns = data[['Cluster Label']+return_columns].groupby('Cluster Label').mean()
returns.columns = ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
returns

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Cluster Label,,,,,,,,,,,,,,,,,,,,,
0,2.985294,1.294118,0.647059,0.750000,1.352941,5.720588,24.132353,78.588235,158.161765,86.735294,...,28.161765,28.691176,32.235294,42.352941,32.750000,18.544118,13.897059,10.147059,7.573529,4.602941
1,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,1.000000,...,2.000000,0.500000,0.500000,1.000000,1.500000,1.000000,0.000000,0.000000,0.500000,0.000000
2,8.578616,5.006289,3.257862,1.528302,0.943396,2.786164,10.075472,17.490566,23.081761,17.742138,...,26.446541,31.698113,46.000000,82.899371,85.226415,63.056604,45.358491,31.855346,24.213836,15.691824
3,2.435897,1.256410,0.589744,0.358974,0.846154,0.538462,1.333333,3.641026,4.282051,4.051282,...,9.076923,10.666667,21.205128,50.384615,46.179487,26.769231,15.692308,10.589744,8.435897,4.564103
4,5.348993,3.134228,1.697987,0.879195,1.409396,7.617450,26.731544,56.939597,100.067114,63.684564,...,42.469799,49.355705,64.053691,96.389262,85.442953,57.583893,38.993289,26.892617,21.395973,11.107383

In [6]:
pickup.reset_index(level=0, inplace=True)
pickup = pd.melt(pickup, id_vars=['Cluster Label'],value_vars=['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
pickup.to_csv(directory+'201808_pickup.csv')

In [7]:

returns.reset_index(level=0, inplace=True)
returns = pd.melt(returns, id_vars=['Cluster Label'],value_vars=['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
returns.to_csv(directory+'201808_returns.csv')

In [8]:
# 201808_scaled.csv
month = '201808'
input_file_name = input_dir+month+'_scaled.csv'
data = pd.read_csv(input_file_name, sep = ",")
pick_columns = ['p0-1', 'p1-2','p2-3','p3-4','p4-5','p5-6','p6-7','p7-8','p8-9','p9-10','p10-11',
                       'p11-12','p12-13','p13-14','p14-15','p15-16','p16-17','p17-18','p18-19','p19-20',
                       'p20-21','p21-22','p22-23','p23-0']
return_columns = ['r0-1', 'r1-2','r2-3','r3-4','r4-5','r5-6','r6-7','r7-8','r8-9',
                  'r9-10','r10-11','r11-12','r12-13','r13-14','r14-15','r15-16','r16-17',
                  'r17-18','r18-19','r19-20','r20-21','r21-22','r22-23','r23-0']

pickup = data[['Cluster Label']+pick_columns].groupby('Cluster Label').mean()
pickup.columns = ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
pickup.reset_index(level=0, inplace=True)
pickup = pd.melt(pickup, id_vars=['Cluster Label'],value_vars=['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
pickup.to_csv(directory+'201808_pickup_kmeans_scaled.csv')

returns = data[['Cluster Label']+return_columns].groupby('Cluster Label').mean()
returns.columns = ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
returns.reset_index(level=0, inplace=True)
returns = pd.melt(returns, id_vars=['Cluster Label'],value_vars=['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
returns.to_csv(directory+'201808_returns_kmeans_scaled.csv')

In [9]:
# 201808_scaled.csv
month = '201808'
input_file_name = input_dir+month+'_scaled.csv'
data = pd.read_csv(input_file_name, sep = ",")
pick_columns = ['p0-1', 'p1-2','p2-3','p3-4','p4-5','p5-6','p6-7','p7-8','p8-9','p9-10','p10-11',
                       'p11-12','p12-13','p13-14','p14-15','p15-16','p16-17','p17-18','p18-19','p19-20',
                       'p20-21','p21-22','p22-23','p23-0']
return_columns = ['r0-1', 'r1-2','r2-3','r3-4','r4-5','r5-6','r6-7','r7-8','r8-9',
                  'r9-10','r10-11','r11-12','r12-13','r13-14','r14-15','r15-16','r16-17',
                  'r17-18','r18-19','r19-20','r20-21','r21-22','r22-23','r23-0']

pickup = data[['EM Label']+pick_columns].groupby('EM Label').mean()
pickup.columns = ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
pickup.reset_index(level=0, inplace=True)
pickup = pd.melt(pickup, id_vars=['EM Label'],value_vars=['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
pickup.to_csv(directory+'201808_pickup_em_scaled.csv')

returns = data[['EM Label']+return_columns].groupby('EM Label').mean()
returns.columns = ['0', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']
returns.reset_index(level=0, inplace=True)
returns = pd.melt(returns, id_vars=['EM Label'],value_vars=['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23'])
returns.to_csv(directory+'201808_returns_em_scaled.csv')